{{#partial "content"}}

    <div class="headsection">
        <div class="row">
            <div class="col-md-2">
                Kenyan Made Recipes
            </div>
            <div class="col-md-6">
                <p><i>"Get recipes to make delicacies out of this world!"</i></p>

            </div>
            <div class="col-md-4 quick-menu">
                <ul>
                    <li>News</li>
                    <li>Sports</li>
                    <li>Politics</li>
                    <li>Careers</li>
                </ul>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}